@model LoadEntryViewModel
<br />
<br />
@if (ViewBag.NewLoadEntry == true)
{
    <h2>Create a new Load Entry for Model.LoadName</h2>
    <form asp-controller="LoadEntry" asp-action="AddLoadEntry" method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" id="LoadId" name="LoadId" value="@Model.LoadId">
        </div>

        <div class="form-group">
            <input type="hidden" class="form-control" id="LoadOrgId" name="LoadOrgId" value="@Model.LoadOrgId">
        </div>

        <div class="form-group">
            <input type="hidden" class="form-control" id="LoadGroup" name="LoadGroup" value="@Model.LoadGroup">
        </div>

        <div class="form-group">
            <input type="hidden" class="form-control" id="LoadName" name="LoadName" value="@Model.LoadName">
        </div>

        <div class="form-group">
            <input type="hidden" class="form-control" id="LoadOrgName" name="LoadOrgName" value="@Model.LoadOrgName">
        </div>

        <div class="form-group">
            <label for="LoadEntryProduct">Product:</label>

            <select class="form-control" asp-for="LoadEntryProductId" required>
                <option value="">--Select Product-</option>
                @foreach (var product in Model.ProductList)
                {
                    <option value="@product.ProductId" data-producttype="@product.Type">@product.Name</option>
                }
            </select>
            <input type="hidden" class="form-control" asp-for="LoadEntryProductName">
            <input type="hidden" class="form-control" asp-for="LoadEntryProductType">


        </div>

        @*If product = ByWeight, then = ask No of kgs.
            If product = ByQuantity, then = ask Quantity
            If product = ByDimension, then = ask Width, Height(in feet), & Quantity*@

        <div class="form-group">
            <label for="Weight">Weight:</label>
            <input type="number" class="form-control" asp-for="Weight">
        </div>

        <div class="form-group">
            <label for="Quantity">Quantity:</label>
            <input type="number" class="form-control" asp-for="Quantity">
        </div>

        <div class="form-group">
            <label for="Width">Width:</label>
            <input type="number" class="form-control" asp-for="Width">
        </div>

        <div class="form-group">
            <label for="Height">Height:</label>
            <input type="number" class="form-control" asp-for="Height">
        </div>

        <button type="submit" class="btn btn-create-organisation">Proceed</button>
    </form>
}
else
{
    <h2>Load Entry in @Model.LoadName Created Successfully</h2>
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td>Organisation Name:</td>
                <td>@Model.LoadOrgName</td>
            </tr>
            <tr>
                <td>Load Group:</td>
                <td>@Model.LoadGroup</td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td>@Model.LoadEntryProductName</td>
            </tr>

            @if (@Model.LoadEntryProductType == "ByWeight")
            {
                <tr>
                    <td>Product Weight:</td>
                    <td>@Model.Weight</td>
                </tr>
                <tr>
                    <td>Product Quantity:</td>
                    <td>@Model.Quantity</td>
                </tr>
            }
            @if (@Model.LoadEntryProductType == "ByQuantity")
            {
                <tr>
                    <td>Product Quantity:</td>
                    <td>@Model.Quantity</td>
                </tr>
            }
            @if (@Model.LoadEntryProductType == "ByDimension")
            {
                <tr>
                    <td>Product Dimensions:</td>
                    <td>@Model.Width x @Model.Height</td>
                </tr>
                <tr>
                    <td>Product Quantity:</td>
                    <td>@Model.Quantity</td>
                </tr>
            }

            <tr>
                <td>Creation Date:</td>
                <td>@Model.CreationDate</td>
            </tr>
        </tbody>
    </table>

    <a asp-controller="LoadEntry" asp-action="CreateLoadEntry" asp-route-id="@Model.LoadId" class="btn btn-create-organisation">Add Load Entry</a>
    <a asp-controller="LoadEntry" asp-action="ListLoads" asp-route-id="@Model.LoadId" class="btn btn-create-organisation">View Loads</a>
}

@section styles {

    <script>$(function () {
            $('form').submit(function () {
                // Update the hidden input fields with the corresponding input values
                $('#CostPerUnitHidden').val($('#CostPerUnit').val());
                $('#WeightPerUnitHidden').val($('#WeightPerUnit').val());
                $('#CostPerUnitWeightHidden').val($('#CostPerUnitWeight').val());
                $('#CostPer100SqftHidden').val($('#CostPer100Sqft').val());
                $('#WeightPer100SqftHidden').val($('#WeightPer100Sqft').val());
            });
        });</script>

    <script>$(document).ready(function () {
            // Hide all input fields initially
            $('#Weight').hide();
            $('#Quantity').hide();
            $('#Width').hide();
            $('#Height').hide();

            $("#Weight").prop("required", true);
            $("#Quantity").prop("required", true);
            $("#Width").prop("required", true);
            $("#Height").prop("required", true);

            const WeightLabel = document.querySelector('label[for="Weight"]');
            const QuantityLabel = document.querySelector('label[for="Quantity"]');
            const WidthLabel = document.querySelector('label[for="Width"]');
            const HeightLabel = document.querySelector('label[for="Height"]');

            WeightLabel.style.display = "none";
            QuantityLabel.style.display = "none";
            WidthLabel.style.display = "none";
            HeightLabel.style.display = "none";

            // Add event listener to select element
            $('#LoadEntryProduct').change(function () {
                var productType = $(this).find(':selected').data('producttype');

                // Show/hide input fields based on product type
                if (productType === 'ByWeight') {
                    $('#Weight').show();
                    $('#Quantity').show();
                    $('#Width').hide();
                    $('#Height').hide();

                    $("#Weight").prop("required", true);
                    $("#Quantity").prop("required", true);
                    $("#Width").prop("required", false);
                    $("#Height").prop("required", false);

                    WeightLabel.style.display = "block";
                    QuantityLabel.style.display = "block";
                    WidthLabel.style.display = "none";
                    HeightLabel.style.display = "none";
                } else if (productType === 'ByQuantity') {
                    $('#Weight').hide();
                    $('#Quantity').show();
                    $('#Width').hide();
                    $('#Height').hide();

                    $("#Weight").prop("required", false);
                    $("#Quantity").prop("required", true);
                    $("#Width").prop("required", false);
                    $("#Height").prop("required", false);

                    WeightLabel.style.display = "none";
                    QuantityLabel.style.display = "block";
                    WidthLabel.style.display = "none";
                    HeightLabel.style.display = "none";
                } else if (productType === 'ByDimension') {
                    $('#Weight').hide();
                    $('#Quantity').show();
                    $('#Width').show();
                    $('#Height').show();

                    $("#Weight").prop("required", false);
                    $("#Quantity").prop("required", true);
                    $("#Width").prop("required", true);
                    $("#Height").prop("required", true);

                    WeightLabel.style.display = "none";
                    QuantityLabel.style.display = "block";
                    WidthLabel.style.display = "block";
                    HeightLabel.style.display = "block";
                }
            });
        });</script>


}

