@model LoadListViewModel
<br />
<br />
<h2>My Organisations</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th align="left">Name/ID</th>   @*different from system generated load ID*@
            <th align="left">Organisation</th>
            <th align="left">Load Group</th>
            <th align="left">Vehicle Number</th>
            <th align="left">Date Created</th>
            <th align="left"></th>
            <th align="left"></th>
            <th align="left"></th>
            <th align="left"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var load in @Model.LoadList)
        {
            <tr>
                <td align="left">@load.Name</td>
                <td align="left">@Model.OrgName</td>
                <td align="left">@load.LoadGroup</td>
                <td align="left">@load.VehicleNo</td>
                <td align="left">@load.CreationDate</td>
                <td align="left">
                    <a asp-controller="Organisation" asp-action="InitDashboard" asp-route-id="@load.LoadId" class="btn btn-dashboard">Add Entry</a>
                </td>
                <td align="left">
                    <a asp-controller="Organisation" asp-action="InitDashboard" asp-route-id="@load.LoadId" class="btn btn-dashboard">View Entries</a>
                </td>
                <td align="left">
                    <a asp-controller="Organisation" asp-action="InitDashboard" asp-route-id="@load.LoadId" class="btn btn-dashboard">Edit</a>
                </td>
                <td align="left">
                    <a asp-controller="Organisation" asp-action="InitDashboard" asp-route-id="@load.LoadId" class="btn btn-dashboard">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Budget" asp-action="Index" class="btn btn-dashboard">Back</a>


@section styles {


}
