@model OrganisationViewModel
<h2>Organisations</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th align="center">Name</th>
            <th align="center">Location</th>
            <th align="center">Email</th>
            <th align="center">Phone</th>
            <th align="center">Date Created</th>
            <th align="center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var budget in @Model.OrganisationList)
        {
            <tr>
                <td>@budget.OrgId</td>
                <td align="center">@budget.Name</td>
                <td align="center">@budget.Location</td>
                <td align="center">@budget.Email</td>
                <td align="center">@budget.Phone</td>
                <td align="center">@budget.CreationDate</td>
                <td align="center">
                    <a asp-controller="Budget" asp-action="Delete" asp-route-id="@budget.OrgId" class="btn btn-info">Dashboard</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Budget" asp-action="Index" class="btn btn-info">Back</a>

